{{#equals type 'line'}}
  <div class="editor-config-panel">
    <h1>操作</h1>
    <div class="right-button">
      <button class="btn btn-primary btn-medium deleLine">删除选中行</button><br/><br/><br/>
      <button class="btn btn-primary btn-medium addRow after">增加外联行</button><br/><br/><br/>
      <button class="btn btn-primary btn-medium addRow insideRow after">增加内联行</button>
    </div>
  </div>
  {{else}}
  <div class="editor-config-panel">
    <div class="editor-config-panel-container">
      <ul class="editor-config-parts">
        <li class="baseSet">
          <h2>基础样式设置</h2>
          <div class="field-group" data-description="组件宽度，单位像素">
            <span class="field-group-label">宽度:</span>
            <span class="field-group-content">
              <label>
                <input type="text" name="width" value="{{this.width}}" class="small setStyleWidth">
              </label>
            </span>
          </div>
          <div class="field-group" data-description="组件高度，单位像素">
            <span class="field-group-label">高度:</span>
            <span class="field-group-content">
              <label>
                <input type="text" name="height" value="{{this.height}}" class="small setStyleHeight" />
              </label>
            </span>
          </div>
          <div class="field-group" data-description="组件对齐方式">
            <span class="field-group-label">组件对齐方式:</span>
            <span class="field-group-content">
              <label>
                <input type="radio" name="textAlign" checked value="left" class="small setStyleHeight" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="textAlign"  value="center" class="small setStyleHeight" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="textAlign" value="right" class="small setStyleHeight" />
              </label>
            </span>
          </div>
        </li>
        <li>
          <form action="" class="cssform" data-scope="base">
            <h2>基础设置</h2>
            {{#each this.css}}
              <div class="field-group" data-description="{{description}}" data-name="{{name}}">
                <span class="field-group-label">{{label}}:</span>
                <span class="field-group-content">
                  <label>
                    {{#equals this.type 'text'}}
                      <input type="text" name="{{name}}" value="{{defaultValue}}" class="small setdom">
                    {{/equals}}
                  </label>
                </span>
              </div>
            {{/each}}
          </form>
        </li>
        <li>
          <form action="" class="dataform" data-scope="ext">
            <h2>参数设置</h2>
            {{#each this.data}}
              <div class="field-group" data-description="{{description}}" data-name="{{name}}">
                <span class="field-group-label">{{label}}:</span>
                <span class="field-group-content">
                  {{#equals this.type 'text'}}
                    <label><input type="text" name="{{name}}" value="{{defaultValue}}" class="small setdom"></label>
                  {{/equals}}
                  {{#equals this.type 'radio'}}
                    {{#each this.options}}
                    <label><input class="setdom" type="radio" name="{{../name}}" value="{{@key}}" {{#equals @key ../defaultValue}}checked{{/equals}}>{{this}}</label>
                    {{/each}}
                  {{/equals}}
                </span>
              </div>
            {{/each}}
          </form>
        </li>
        <li>
          <a class="saveCfgForm all">生效</a>
        </li>
      </ul>
    </div>
  </div>
{{/equals}}