<div class="hide">{{json this}}</div>
{{#each this}}
  <div class="eevee-clu-line eevee-grids" style="{{#each this.css}}{{@key}}:{{this}};{{/each}}">
    {{#each this.comps}}
      <div class="eevee-line-row-box" style="{{#each this.insert.css}}{{@key}}:{{this}};{{/each}}">
      {{#each this.insert}}
        <div class="eevee-line-row">
          <div class="eevee-line-ele" style="{{this.css}}">
            {{#insert this.path}}
              {}
            {{/insert}}
          </div>
        </div>
      {{/each}}
      </div>

    {{/each}}
  </div>
{{/each}}